.vscode/settings.json
documents/inhoud_text.docm
documents/inhoud_text.docx
documents/~$houd_text.docm
images/default-image.jpg
images/marvin2.jfif
images/marvin1.jfif
images/groene-bamboe-kan-gebruikt-worden-als-achtergrond-foto.jpg
images/groene-bamboe-geïsoleerd-op-een-groene-achtergrond.jpg
images/green-bokeh-vector-illustration-background.jpg
images/abstract-golvende-groene-achtergrond.jpg
images/icons-logo-github.png
images/logo_github_icon.png
images/groene-tinten-kleurovergang.jfif
Certificaten/Avnet_Mitel_Certificate.pdf
Certificaten/cert-1014-10779375.pdf
Certificaten/cert-1023-10779375.pdf
Certificaten/cert-1024-10779375.pdf
Certificaten/cert-1059-10779375.pdf
Certificaten/Certificaat_Inregeltechnicus_Teleway.pdf
Certificaten/Certificaat_Network-Consultant_Computerij_Onderwijs.pdf
Certificaten/Diploma_3e_jaar_Economie_Horeca_Differentiatie_KEUKEN.pdf
Certificaten/Getuigschrift_NesCafe.pdf
Certificaten/Inhoudelijk_Network-Consultant.pdf
Certificaten/Introduction_to_SCO_unix_System_Certificate.pdf
Certificaten/MicrosoftCertifiedProfessional_Implementing_and_Suporting_WindowsNT40Server_ExamenRaport.pdf
Certificaten/MicrosoftCertifiedProfessional_Implementing_and_Suporting_WindowsNT40Server.pdf
Certificaten/MicrosoftCertifiedProfessional_Implementing_and_Suporting_WindowsNT40Workstation_ExamenRaport.pdf
Certificaten/MicrosoftCertifiedProfessional_Implementing_and_Suporting_WindowsNT40Workstation.pdf
Certificaten/Ruwe_Texst_Inhoudelijk_Network-Consultant.pdf
Certificaten/SCO_OpenServerRelease5_Administration1.pdf
Certificaten/SCO_OpenServerRelease5_Administration2.pdf
Certificaten/SCO_OpenServerRelease5_Network_Administration.pdf
Certificaten/SCO_Shell_Programming.pdf
